.location{
    background-color: white;
    scroll-margin-top: 50px;
}

.tabMenu{
    display: flex;
    justify-content: space-around;
    height: 100%;
    background-color: aqua;
}

.mapWrapper{
    height: 100%;
    position: relative;
}

.blockWrap{
    position: absolute;
    display: none;
}

.blockWrap.active{
    position: relative;
    display: block;
}