.location{
    background-color: white;
    scroll-margin-top: 50px;
}

.tabMenu{
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    height: 35px;
    width: 100%;
}

.tabMenu a{
    text-align: center;
    background-color: whitesmoke;
    height: 30px;
    width: 100%;
    border-top-left-radius: 20px;
    border: solid 1px grey;
}

.tabMenu a.active{
    height: 35px;
}

.mapWrapper{
    height: 100%;
    position: relative;
}

.blockWrap{
    position: absolute;
    display: none;
}

.blockWrap.active{
    position: relative;
    display: block;
}

@media(min-width: 680px){
    .tabMenu{
        display: none;
    }
    .blockWrap{
        position: relative;
        display: block;
    }
}